body{
	background: #ebe70c;
}

a{
	font-family: sans-serif;
	text-decoration: none;	
}

a:hover{
	background: black;
	color:white;
}

.para{
	margin-left:10px;
}

.tableInMiddle{
	margin-top: 20px;
	margin-left:20px;
	border: 2px solid black;
	border-collapse:collapse;
}

th,td{
	border:2px solid black;
	padding: 5px;
	text-align: center;
}