body{
	background:black;
	color:white;
	font-family: monospace;
	font-size: 20pt;
}

a{
	color:gray;
	text-decoration: none;
}

a:hover{
	background: white;
}
#header{
	background: yellow;
	margin-top: -8px;
	margin-left:-8px;
	margin-right:-8px;*/
	padding: 5px;
	text-align: right;

}
.logo{
	background: yellow;
	text-align: left;
}

.form{
	text-align: center;
}
footer{
	background : yellow;
}